/Users/golan/Desktop/OF7_2011_Oct/apps/golan/mpm-fluid/build/*
/Users/golan/Desktop/OF7_2011_Oct/apps/golan/mpm-fluid/bin/mpm-fluid.app
/Users/golan/Desktop/OF7_2011_Oct/apps/golan/mpm-fluid/bin/mpm-fluid.app/*
